.form {
  display: grid;
  padding: 15px 20px;
  grid-template-columns: 8fr 1fr;
  grid-gap: 2%;
  margin-bottom: 15px;
}

@media (max-width: 430px) {
  .form {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10%;
  }
}

.form__addField {
  border: solid 1px rgb(212, 212, 212);
  margin-top: 10px;
  padding: 8px;
}

.form__addButton {
  background-color: hsl(188, 100%, 25%);
  margin-top: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 1s;
}

.form__addButton:hover {
  background-color: hsl(188, 77%, 42%);;
  transform: scale(1.1);
}
