html {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  font-size: 15px;
  line-height: 1.5;
  background-color: rgb(239, 239, 239);
}

*,
::after,
::before {
  box-sizing: inherit;
}

.header {
  font-weight: 900;
  font-size: 200%;
  margin-top: 3%;
  margin-bottom: 1%;
}
