.tasks {
  background-color: white;
  padding: 0px;
  margin-bottom: 10px;
  border: solid 1px rgb(212, 212, 212);
}

.tasks__header {
  font-size: 140%;
  font-weight: 700;
  padding: 15px 20px;
  border-bottom: solid 1.5px rgb(212, 212, 212);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 540px) {
  .tasks__header {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}

@media (max-width: 430px) {
  .tasks__header {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 10px;
  }
}

.tasks__toDoList {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.tasks__list {
  list-style-type: none;
}

.tasks__list--hidden {
  display: none;
}

.tasks__item {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.tasks__item--done {
  text-decoration: line-through;
}

.tasks__doneButton {
  background-color: green;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: 1s;
}

.tasks__doneButton:hover {
  background-color: rgb(68, 171, 68);
}

.tasks__removeButton {
  background-color: red;
  width: 30px;
  height: 30px;
  border: none;
  margin-bottom: 50%;
  cursor: pointer;
  transition: 1s;
}

.tasks__removeButton:hover {
  background-color: rgb(223, 104, 104);
}

.tasks__newButtons {
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
}

@media (max-width: 540px) {
  .tasks__newButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 80%;
  }
}

.tasks__hideOrShowAllDone {
  background: transparent;
  border: none;
  color: hsl(188, 100%, 25%);
  cursor: pointer;
}

.tasks__hideOrShowAllDone:hover {
  color: hsl(188, 49%, 62%);
  transition: 1s;
}

.tasks__markAllDone {
  background: transparent;
  border: none;
  color: hsl(188, 100%, 25%);
  transition: 1s;
  cursor: pointer;
}

.tasks__markAllDone:hover {
  color: hsl(188, 49%, 62%);
}

.tasks__markAllDone:disabled {
  color: rgb(202, 202, 202);
}

.js-tasks {
  padding: 0px 10px;
}
