.tasks {
  background-color: white;
  padding: 0px;
  margin-bottom: 10px;
  border: solid 1px rgb(212, 212, 212);
}

.tasks__header {
  font-size: 140%;
  font-weight: 700;
  padding: 15px 20px;
  border-bottom: solid 1.5px rgb(212, 212, 212);
}

.tasks__list {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: solid 1px rgb(212, 212, 212);
}

.tasks__list--hidden {
  display: none;
}

.tasks__item {
  text-decoration: none;
  padding: 4px 10px;
  width: 100%;
}

.tasks__item--done {
  text-decoration: line-through;
}

.tasks__doneButton {
  background-color: green;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  margin-bottom: 50%;
  cursor: pointer;
}

.tasks__removeButton {
  background-color: red;
  width: 30px;
  height: 30px;
  border: none;
  margin-bottom: 50%;
  cursor: pointer;
}

.tasks__newButtons {
  display: flex;
  flex-wrap: wrap;
}

.tasks__hideOrShowAllDone {
  color: rgb(0, 179, 179);
}

.tasks__markAllDone {
  background: transparent;
  border: none;
  color: teal;
  transition: 1s;
}


.js-tasks {
  padding: 0px 10px;
}
